{% extends 'def_i/base.html' %}
{% load static sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/article_post.scss' %}">
{% endblock extra_style %}
{% block menubar %}{% endblock menubar %}
{% block contents %}
<!-- {#% if messages %#}
    {#% for message in messages %#}
        <span{#% if message.tags %#} class="{{ message.tags }}" {#% endif %#}>{{ message }}</span>
    {#% endfor %#}

    <a href="{#% url 'article_feed' %#}">ノート一覧に戻る</a>
{#% endif %#} -->

<form action = "" method = "POST" class="postform-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="postnow">
        <label class="post_checkbox" for="id_is_published">
            <input type="checkbox" name="is_published" id="id_is_published">
            <span class="checkbox_is_published"></span>
            <span>ノートを公開する</span>
        </label>
    </div>
    <div>{{form.title}}</div>
    <div class="note-at">
        {{form.category}}
        {{form.course}}
        {{form.lesson}}
    </div>

    <div class="content">

        <textarea name="content" id="id_content" cols="40" rows="10" placeholder="本文を入力（コードを含む場合はMarkdown記法をご使用ください）"></textarea>
        <label>
            <div class="article_image_icon">
                <img src="{% static 'def_i/img/img-icon.svg' %}" alt="">
            </div>
            <input type="file" name="article_image_1" id="id_article_image_1" accept="image/*">
        </label>
    </div>
    <button type="submit" class="postform-btn">ノートを投稿する</button>
</form>
{% endblock contents %}

{% block javascript %}
<script>
    const courses = JSON.parse('{{course_dict|escapejs}}');
    console.log("courses: " + courses);
    const lessons = JSON.parse('{{lesson_dict|escapejs}}');
</script>
<script src="{% static 'def_i/js/filter.js' %}"></script>
{% endblock javascript %}
