{% extends 'def_i/base.html' %}
{% block menubar %}
{% comment %} <div class="main-container__menubar">
                <a href="{% url 'article_detail' %}" class="main-container__menubar-link now-here">
                    <h2>記事</h2>
                </a>
                <a href="" class="main-container__menubar-link">
                    <h2>コメント</h2>
                </a> {% endcomment %}<!--menuバーいらない気がする。-->
{% endblock menubar %}
{% block contents %}
<h1>{{conotents.title}}</h1>
<p>{{contents.poster}}</p>
<p>{{contents.content}}</p>
{% endblock contents %}