{% extends 'def_i/base.html' %}
{% load static sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/article_post.scss' %}">
{% endblock extra_style %}
{% block menubar %}{% endblock menubar %}
{% block contents %}
<!-- {#% if messages %#}
    {#% for message in messages %#}
        <span{#% if message.tags %#} class="{{ message.tags }}" {#% endif %#}>{{ message }}</span>
    {#% endfor %#}

    <a href="{#% url 'article_feed' %#}">ノート一覧に戻る</a>
{#% endif %#} -->

<h1 class="postform-title">記事投稿フォーム</h1>
<form action = "" method = "POST" class="postform-form" enctype="multipart/form-data">
{% csrf_token %}
{{form.is_published}}
{{form.title}}
<div>
    {{form.category}}
    {{form.course}}
    {{form.lesson}}
</div>
{{form.content}}
{{form.article_image_1}}
{{form.article_image_2}}
<button type="submit" class="postform-btn">保存する</button>
</form>
{% endblock contents %}

{% block javascript %}
<script>
    const courses = JSON.parse('{{course_dict|escapejs}}');
    console.log("courses: " + courses);
    const lessons = JSON.parse('{{lesson_dict|escapejs}}');
</script>
<script src="{% static 'def_i/js/filter.js' %}"></script>
{% endblock javascript %}
