{% extends 'def_i/base.html' %}
{% load static sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/article.scss' %}">
<link rel="stylesheet" href="{% sass_src 'def_i/css/article_post.scss' %}">
{% endblock extra_style %}
{% block menubar %}{% endblock menubar %}

{% block contents %}
<form action = "" method = "POST" class="postform-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="postnow">
        <label class="post_checkbox" for="id_is_published">
            <input type="checkbox" name="is_published" id="id_is_published">
            <span class="checkbox_is_published"></span>
            <span>ノートを公開する</span>
        </label>
        {% block extra_btn %}{% endblock %}
    </div>
    <div>{{form.title}}</div>
    <div class="note-at">
        {{form.category}}
        {{form.course}}
        {{form.lesson}}
    </div>

    <div class="content">

        {{form.content}}
        <label id="label_image_1">
            <div class="article_image_icon">
                <img src="{% static 'def_i/img/img-icon.svg' %}" alt="">
            </div>
            <input type="file" name="article_image_1" id="id_article_image_1" accept="image/*">
        </label>
        <label id="label_image_2" class="hidden_class">
            <div class="article_image_icon">
                <img src="{% static 'def_i/img/img-icon.svg' %}" alt="">
            </div>
            <input type="file" name="article_image_2" id="id_article_image_2" accept="image/*">
        </label>
        <div id="preview" class="preview">
            <div id="new_img_wrapper_1"></div>
            <div id="new_img_wrapper_2"></div>
        </div>
    </div>
    <div class="postbtn_wrapper">
        <button type="submit" class="postform-btn" id="postform-btn">ノートを投稿する</button>
    </div>
</form>
{% endblock contents %}

{% block javascript %}
<script>
    const courses = JSON.parse('{{course_dict|escapejs}}');
    console.log("courses: " + courses);
    const lessons = JSON.parse('{{lesson_dict|escapejs}}');
</script>
<script src="{% static 'def_i/js/filter.js' %}"></script>
<script src="{% static 'def_i/js/upload_img.js' %}"></script>
{% endblock javascript %}
