{% extends 'def_i/base.html' %}
{% load static sass_tags %}
{% block extra_style %}
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'def_i/css/luminous-basic.min.css' %}">
<link rel="stylesheet" href="{% sass_src 'def_i/css/article.scss' %}">
<link rel="stylesheet" href="{% sass_src 'def_i/css/detail_base.scss' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock extra_style %}

{% block menubar %}{% endblock menubar %}

{% block contents %}
<div class="main-bar">

    <div id="note" class="contents">
        <h1 class="contents-title">{{contents.title}}</h1>
        <div class="contents-info">
            <div class="like-outer">
                {% include 'def_i/like.html' %}
            </div>

            <div class="contents-info-at">
                <div class="contents-info-at-category">{{contents.category}}</div>
                <div>レッスン{{contents.course.course_num}}-{{contents.lesson.lesson_num}}</div>
            </div>
            <div>{{contents.created_at|date:"Y/n/j H:i"}}</div>
        </div>

        <div class="contents-text">
            {{contents.formatted_markdown|safe}}
        </div>
        <div class="contents-images">
            {% if contents.article_image_1 %}
            <a href="{{contents.article_image_1.url}}" class="luminous">
                <img src="{{ contents.article_image_1.thumbnail.url }}" alt="">
            </a>
            {% endif %}
            {% if contents.article_image_2 %}
            <a href="{{contents.article_image_2.url}}" class="luminous">
                <img src="{{ contents.article_image_2.thumbnail.url }}" alt="">
            </a>
            {% endif %}
        </div>

        {% if user == contents.poster %}
        <div class="contents-buttons">
            <span class="btn-edit"><a href="{% url 'article_edit' contents.pk %}">編集する</a></span>
            <span class="btn-delete"><a href="{% url 'article_delete' contents.pk %}">削除する</a></span>
        </div>

        {% endif %}
    </div>

    <div class="comments-wrapper">
        <h2 class="comments-wrapper__title" id="comments">コメント</h2>

        {% for c in comments %}
            <article class="comment">
                <div class="comment-info">
                    <a href="{% url 'user_page' c.msg_from.pk %}">
                        {% if c.msg_from.user_image %}
                            <img src="{{c.msg_from.user_image.url}}" width="30" alt="">
                        {% else %}
                            <img src="{% static 'def_i/img/default.png' %}" alt="">
                        {% endif %}
                        <p>{{c.msg_from}}</p>
                    </a>
                    <p>{{c.time|date:"Y/n/j H:i"}}</p>
                </div>
                <div class="comment-text">{{c.msg}}</div>
            </article>
            {% empty %}
            <p class="no-contents">コメントがありません．</p>
            {% endfor %}
    </div>

    <div class="form-wrapper">
        <form method="POST">
            {% csrf_token %}
            {{comment_form.msg}}
            <button type='submit' name="comment_form">
                <img src="{% static 'def_i/img/send-icon.svg' %}" alt="コメントを送信">
            </button>
        </form>
    </div>
</div>

<!-- サイドバー -->
<div class="sidebar">
    <div class="sidebar-poster">
        <h3>投稿者</h3>
        <div class="sidebar-poster-info">
            {% if contents.poster.user_image %}
                <img src="{{contents.poster.user_image.url}}" alt="">
            {% else %}
                <img src="{% static 'def_i/img/default.png' %}" alt="">
            {% endif %}
            {{contents.poster}}
        </div>
        {% if user == contents.poster %}
            <form name="publish_form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="publish_form">
                {% if contents.is_published %}
                    <input type="checkbox" id="id_is_published" name="publish" checked>
                {% else %}
                    <input type="checkbox" id="id_is_published" name="publish">
                {% endif %}
                <span>ノートを公開する</span>

            </form>
        {% endif %}
    </div>
    <div class="sidebar-move">
        <div id="to_note">ノート</div>
        <div id="to_comment">コメント</div>
    </div>

    <h3>関連したノート</h3>
    <div class="related-contents">
        {% for article in related_articles %}
        <div class="related-contents-title">
            <a href="{% url 'article_detail' article.pk %}">{{article.title|truncatechars:40}}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contents %}
{% block javascript %}
<script src="{% static 'def_i/js/Luminous.min.js' %}"></script>
<script>
    const options = {
        appendToSelector: 'body',
    };
    const luminousTrigger = document.querySelectorAll('.luminous');
    if (luminousTrigger !== null) {
        new LuminousGallery(luminousTrigger, options);
    }
    //jQueryあんまりよくないと知る前に作ったので使っています．．．
    $(document).ready(function(e){
        $(document).on('click','#like',function(e){
            e.preventDefault(); //button&POSTに対しては効きません．．．．
            $.ajax({
                type:'GET',
                url:"{% url 'like' contents.pk %}",
                success:function(response){
                    heartMark = document.getElementById('like')
                    if(response.liked){
                        $(heartMark).html("<img src=" + "{% static 'def_i/img/good-after.svg' %}" +  " alt=" + "いいねを解除" + " width=" + "22" + ">")
                    }
                    else{
                        $(heartMark).html("<img src=" + "{% static 'def_i/img/good-before.svg' %}" + " alt=" + "いいねを解除" + " width=" + "22" + ">")
                    }
                    likeCount = document.getElementById('count')
                    $(likeCount).text(response.count)
                }
            })
        })
    })
const toNote = document.getElementById("to_note");
const toComments = document.getElementById("to_comment");

// ノート本体へスクロール
document.getElementById("to_note").addEventListener('click', function(){
    const note = document.getElementById("note");
    const note_position = note.getBoundingClientRect();
    //classList.addとremoveでやると丁寧
    toComments.style.backgroundColor = '#fbfcfe'
    toNote.style.backgroundColor = "#f5f5f5"
    window.scrollTo(0, note_position.top);
});

// コメントへスクロール
document.getElementById("to_comment").addEventListener('click', function(){
    const comments = document.getElementById("comments");
    const comments_position = comments.getBoundingClientRect();
    toNote.style.backgroundColor = '#fbfcfe';
    toComments.style.backgroundColor = '#f5f5f5'
    window.scrollTo(0, comments_position.top);
});

// ノート公開
document.getElementById("id_is_published").addEventListener('change', function(){
    document.publish_form.submit();
});

</script>
{% endblock javascript %}
