{% extends 'def_i/base-education.html' %}
{% load static %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'def_i/css/article_feed.css' %}">
{% endblock %}

{% block contents %}
{% if messages %}
	{% for message in messages %}
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	{% endfor %}
{% endif %}
<form action="" method="GET">
    {{form}}
    <button type="submit">検索する</button>
</form>
<a href="{% url 'article_post' %}">ノートを書く</a>
    {% for a in articles %}
    <article class="main-container__contents-article">
        <p><a href="{% url 'user_page' a.poster.pk %}">{{a.poster}}</a>が{{a.created_at|date:"Y年 M j日 H:i:s"}}に投稿</p>
        <a href="{% url 'article_detail' a.pk %}">
            <h1>{{a.title}}</h1>
        </a>
        <p>{{a.like_count}}いいね</p>
    </article>
    {% empty %}
        <p>記事がありません．</p>
    {% endfor %}
<div class="pagination">{% include 'def_i/pagination.html' %}</div>
{% endblock contents %}
