{% extends 'def_i/base.html' %}
{% load static sass_tags %}
{% block extra_style %}
    <link rel="stylesheet" href="{% static 'def_i/css/article_feed.css' %}">
    <link rel="stylesheet" href="{% sass_src 'def_i/css/article_feed.scss' %}">
{% endblock %}

{% block contents %}
{% if messages %}
	{% for message in messages %}
    <!-- CSSで投稿後の画面を作るため -->
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	{% endfor %}
{% endif %}

<!-- ノート検索窓 -->
<div class="note_top">
    <form action="" method="GET"  class="search_form">
        {{form}}
        <!-- <button type="submit">検索する</button> -->
    </form>

    <div class="btn-write_note">
        <a href="{% url 'article_post' %}">ノートを書く</a>
    </div>
</div>

<h1 class="note_list__title">ノート一覧</h1>
<!-- 並び替え方法を選択 -->
<div class="choice-button">
    {% if request.GET.orderby == 'new' %}
    <p id="art-new" class="here"><a href="?orderby=new&keyword={{request.GET.keyword}}">新着</a></p>
    <p id="like"><a href="?orderby=like&keyword={{request.GET.keyword}}">人気</a></p>
    <p><a href="?orderby=mynote&keyword={{request.GET.keyword}}">あなたのノート</a></p>

    {% elif request.GET.orderby == 'like' %}
    <p id="art-new"><a href="?orderby=new&keyword={{request.GET.keyword}}">新着</a></p>
    <p id="like" class="here"><a href="?orderby=like&keyword={{request.GET.keyword}}">人気</a></p>
    <p><a href="?orderby=mynote&keyword={{request.GET.keyword}}">あなたのノート</a></p>

    {% else %}
    <p id="art-new"><a href="?orderby=new&keyword={{request.GET.keyword}}">新着</a></p>
    <p id="like"><a href="?orderby=like&keyword={{request.GET.keyword}}">人気</a></p>
    <p class="here"><a href="?orderby=mynote&keyword={{request.GET.keyword}}">あなたのノート</a></p>

    {% endif %}
</div>

<div class="main-container__contents-article-container">
    <div class="main-container__contents-article-box note_list">

        {% for article in articles %}
        <article class="main-container__contents-article">
            <a href="{% url 'article_detail' article.pk %}">
                <h2>{{article.title}}</h2>
            </a>

            <div class="main-container__contents-article-data">
                <div class="note_info">
                    <div class="note_info_like">
                        <img src="{% static 'def_i/img/good-before.svg' %}" class="btn-good" alt="">
                        <span>{{article.like_count}}</span>
                    </div>
                    <div>{{article.category}}</div>
                    <div>レッスン{{article.course.course_num}}-{{article.lesson.lesson_num}}</div>
                </div>
                <div class="user_date">
                    <a href="{% url 'user_page' article.poster.pk %}" class="user-disp">
                        {% if article.poster.user_image %}
                        <img src="{{article.poster.user_image.url}}" width="30" alt="">
                        {% else %}
                        <img src="{% static 'def_i/img/default.png' %}" width="30" alt="">
                        {% endif %}
                        <p>{{article.poster}}</p>
                    </a>
                    <p class="post-date">{{article.created_at|date:"Y/n/j H:i"}}に投稿</p>
                </div>
            </div>
        </article>
        {% empty %}
        <p class="no-contents">記事がありません．</p>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    {% include 'def_i/pagination.html' %}
</div>
{% endblock contents %}
