{% extends 'def_i/base.html' %}
{% load static %}
        {% block menubar %}
            <div class="main-container__menubar">
                <a href="?orderby=new&keyword={{request.GET.keyword}}" class="main-container__menubar-link now-here">
                    <h1>記事フィード</h1>
                </a>
                <!--<div class="">box</div>-->
            {% if orderby == 'new' %}
                <a href="?orderby=new&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink now-here-sub">
                    <p><span style="visibility:hidden;">──</span>──新着順</p>
                </a>
                <a href="?orderby=like&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink">
                    <p><span style="visibility:hidden;">──</span>──いいね順</p>
                </a>
            {% elif orderby == 'like' %}
                <a href="?orderby=new&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink">
                    <p><span style="visibility:hidden;">──</span>──新着順</p>
                </a>
                <a href="?orderby=like&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink now-here-sub">
                    <p><span style="visibility:hidden;">──</span>──いいね順</p>
                </a>
            {% endif %}
                <a href="{% url 'question_feed' %}?orderby=new&keyword={{request.GET.keyword}}" class="main-container__menubar-link">
                    <h1>質問フィード</h1>
                </a>
                <a href="{% url 'question_feed' %}?orderby=new&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink">
                    <p><span style="visibility:hidden;">──</span>──新着順</p>
                </a>
                <a href="{% url 'question_feed' %}?orderby=unanswered&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink">
                    <p><span style="visibility:hidden;">──</span>──未回答</p>
                </a>
            </div>
        {% endblock menubar %}
        {% block contents %}
        {% block member_list %}
        <div class="main-container__member-list">
        <p class="main-container__member-list-title">メンバー</p>
            {% for m in member %}
            <a href="{% url 'user_page' m.pk %}">
                <div class="main-container__member-list-block">
                    {% if m.user_image %}
                    <img src="{{ m.user_image.url }}" alt="">
                    {% else %}
                    <img src="{% static 'def_i/img/default.png' %}" alt="">
                    {% endif %}
                    <p class="main-container__member-list-name">{{m.username}}<br><span>{{m.position}}</span></p>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endblock member_list %}
        {% endblock contents %}
