{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% sass_src 'def_i/css/reset.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'def_i/css/base.scss' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
{% comment %}
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
        OneSignal.init({
        appId: "ea35df03-ba32-4c85-9f7e-383106fb1d24",
        safari_web_id: "web.onesignal.auto.47a2f439-afd3-4bb7-8cdd-92cc4f5ee46c",
        notifyButton: {
        enable: true,
        },
        });
    });
    </script> {% endcomment %}
    {% block extra_style %}{% endblock %}
    <title>DefInit</title>
</head>

<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <a href="{% url 'index' %}" class="header-container__top">
                <p class="header-container__icon"><img src="{% static 'def_i/img/definit-logo.svg' %}"></p>
                <p class="header-container__title">Def <span style="color:#3011ab;">Init</span></p>
            </a>
            <a id="tasknow" class="header-container__contents" href="{% url 'course' %}">コース</a>
            <a id="questionnow" class="header-container__contents" href="{% url 'question_feed' %}?orderby=new">質問</a>
            <a id="notenow" class="header-container__contents" href="{% url 'article_feed' %}?orderby=new">ノート</a>
            <div class="header-container__user" id="icon">
                {% if user.user_image %}
                    <img src="{{ user.user_image.url }}" width="30">
                {% else %}
                    <img src="{% static 'def_i/img/default.png' %}">
                {% endif %}
                <p class="header-container__user-name">{{ user.username }}</p>
                <div class="header__hover-item hidden_class" id="hover_item">
                    <a href="{% url 'my_page' %}"><h1>マイページ</h1></a>
                    <a href="{% url 'account_change' %}"><h1>アカウント設定</h1></a>
                    <a href="{% url 'account_logout' %}"><h1><span style="color:red;">ログアウト</span></h1></a>
                </div>

            </div>
            {% include 'def_i/notify_bell.html' %}
        </div>
    </header>
    {% endblock header %}
    <main class="main">
        <div class="main-container">
            <div class="main-container__contents">
                {% block menubar %}
                {% endblock menubar %}
                {% block contents %}
                {% endblock contents %}
                {% block member_list %}
                {% endblock member_list %}
            </div>
        </div>
    </main>
    <script>
        document.getElementById('icon').addEventListener('click',()=>{
            document.getElementById('hover_item').classList.toggle('hidden_class')
        })
        document.getElementById('bell').addEventListener('click',()=>{
            document.getElementById('hover_notify').classList.toggle('hidden_class')
        })
    </script>
    {% block javascript %}{% endblock javascript %}
</body>

</html>
