{% extends 'def_i/base.html' %}
        {% block menubar %}
            <div class="main-container__menubar">
                <a href="{% url 'article_feed' %}" class="main-container__menubar-link now-here">
                    <h1>記事フィード</h1>
                </a>
                <!--<div class="">box</div>-->
            {% if sort_by_new == True %}
                <a href="{% url 'article_feed' %}" class="main-container__menubar-sublink now-here-sub">
                    <p><span style="visibility:hidden;">──</span>──新着順</p>
                </a>
                <a href="{% url 'article_feed_like' %}" class="main-container__menubar-sublink">
                    <p><span style="visibility:hidden;">──</span>──いいね順</p>
                </a>
            {% else %}
                <a href="{% url 'article_feed' %}" class="main-container__menubar-sublink">
                    <p><span style="visibility:hidden;">──</span>──新着順</p>
                </a>
                <a href="{% url 'article_feed_like' %}" class="main-container__menubar-sublink now-here-sub">
                    <p><span style="visibility:hidden;">──</span>──いいね順</p>
                </a>
            {% endif %}
                <a href="{% url 'question_feed_new' %}" class="main-container__menubar-link">
                    <h1>質問フィード</h1>
                </a>
                <a href="{% url 'question_feed_new' %}" class="main-container__menubar-sublink">
                    <p><span style="visibility:hidden;">──</span>──新着順</p>
                </a>
                <a href="{% url 'question_feed_unanswered' %}" class="main-container__menubar-sublink">
                    <p><span style="visibility:hidden;">──</span>──未回答</p>
                </a>
            </div>
        {% endblock menubar %}
        {% block contents %}
        {% block member_list %}
        <div class="main-container__member-list">
        <p class="main-container__member-list-title">メンバー一覧</p>
            {% for m in member %}
            <div class="main-container__member-list-block">
                <img src="{{m.user_image.url}}">
                <p class="main-container__member-list-name"><a href="{% url 'user_page' m.pk %}">{{m.username}}<br><span>{{m.position}}</span></a></p>
            </div>
            {% endfor %}
        </div>
        {% endblock member_list %}
        {% endblock contents %}
