{% extends 'def_i/base.html' %}
{% load static %}
{% block extra_style %}
{% endblock extra_style %}
{% block contents %}
<h1>課題</h1>
<div class="main-container__contents-taskboxies">
{% for task in task_list %}
{% if task.title == 'public' %}
{% else %}
<div class ="main-container__contents-taskbox js-accordion-title">
    <p class="main-container__contents-taskbox-tag ">課題{{ task.f_number}}</p><p class="main-container__contents-taskbox-descript">{{ task.title }}</p>
</div>
<div class="main-container__contents-taskbox-details accordion__content">
    {% for task_sub in task.task_sub.all %}
    <a href="{% url 'task_detail' task_sub.pk %}">
        <div class="main-container__contents-taskbox-detail"><p class="main-container__contents-taskbox-detail-tag">課題{{ task.f_number }}-{{ task_sub.s_number }}</p><p class="main-container__contents-taskbox-detail-descript">{{ task_sub.title }}</p></div>
    </a>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

<a href="{% url 'index' %}" class="button"><p>ひとつ前に戻る</p></a>
</div>
{% endblock contents %}
{% block javascript %}
<script>
document.addEventListener("DOMContentLoaded",() => {
  const title = document.querySelectorAll('.js-accordion-title');
  
  for (let i = 0; i < title.length; i++){
    let titleEach = title[i];
    let content = titleEach.nextElementSibling;
    titleEach.addEventListener('click', () => {
      titleEach.classList.toggle('is-active');
      content.classList.toggle('is-open');
    });
  }

});
</script>
{% endblock javascript %}