{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head></head>
<body>
    <form action="{% url 'bookmark' contents.pk %}" method="POST">
        {% csrf_token %}
        {% if contents.id in bookmark_set %}
            <span id="bookmark" name="{{contents.id}}">
                <img src="{% static 'def_i/img/good-after.svg' %}" alt="ブックマークする" width="22">
            </span>
        {% else %}
            <span id="bookmark" name="{{contents.id}}">
                <img src="{% static 'def_i/img/good-before.svg' %}" alt="ブックマークを外す" width="22">
            </span>
        {% endif %}
    </form>
    <p class="count" id="count" name="{{contents.id}}">{{bookmark_count}}</p>
</body>
</html>
