<!DOCTYPE html>
<html lang="ja">
<head></head>
<body>
    <form action="{% url 'bookmark' contents.pk %}" method="POST">
        {% csrf_token %}
        {% if contents.id in bookmark_set %}kk
            <button id="bookmark" name="{{contents.id}}">
                <i class="fas fa-lh fa-heart like-red"></i>
            </button>
        {% else %}nn
            <button id="bookmark" name="{{contents.id}}">
                <i class="far fa-lg fa-heart"></i>
            </button>
        {% endif %}
    </form>
    <p class="count" id="count" name="{{contents.id}}">{{bookmark_count}}lilili</p>
</body>
</html>
