{% extends 'def_i/base.html' %}
{% load static sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/article_delete.scss' %}">
{% endblock extra_style %}

{% block menubar %}{% endblock menubar %}

{% block contents %}
<div class="background">
    <form action="" method="POST" class="popup">
        {% csrf_token %}
        <p>本当にコメントを削除しますか？</p>
        <div class="btns">
            <button class="button" type="submit"><span>コメントを削除する</span></button>
            <div class="cancel">
            {% if category == "article" %}
                <a href="{% url 'article_detail' object.msg_at.pk %}">キャンセル</a>
            {% elif category == "question" %}
                <a href="{% url 'question_detail' object.msg_at.pk %}">キャンセル</a>
            {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock contents %}
