{% extends 'def_i/base.html' %}
{% load static %}
{% load sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/index.scss' %}">
{% endblock %}
{% block menubar %}{% endblock menubar %}
{% block contents %}
{% if studying %}
<h1 class="index_title">学習中のコース</h1>
<div class="main-container__contents-studying">
<img src="{{studying.category.category_image.url}}">
<div class="main-container__contents-studying-info">
    <h2>{{studying.category}}</h2>
    <p>進捗率</p>
    <p>学習中コース</p>
</div>

<p class="btn1"><a href="">続きからはじめる</a></p>
</div>
{% else %}
{% endif %}

<h1 class="index_title">コース一覧</h1>
    {% comment %} <p>完了率：{{all_progress|floatformat}}%</p> {% endcomment %}
    <div class="indexbox-container">
    {% for cat,prog in progress %}
    <div class="indexbox-container-box">
        <h1>{{cat.title}}</h1>
        <img src="{{cat.category_image.url}}" alt="">
        <div class="progress_bar">{{prog}}</div>
        <p>{{cat.description}}</p>
        <p class="btn3"><a href="{% url 'course_list' cat.title %}">{{cat.title}}編をはじめる</a></p>
        <p class="btn4">学習中にする</p>
    </div>
    {% endfor %}
    </div>
{% endblock contents %}
