{% extends 'def_i/base.html' %}
{% load static %}
{% load sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/index.scss' %}">
<link rel="stylesheet" href="{% sass_src 'def_i/css/course.scss' %}">
{% endblock %}
{% block menubar %}{% endblock menubar %}
{% block contents %}
{% if studying %}
<h1 class="index_title">学習中のコース</h1>
<div class="main-container__contents-studying">
<img src="{{studying.category.category_image.url}}">
<div class="main-container__contents-studying-info">
    <h2>{{studying.category}}</h2>
    <div class="main-container__contents-studying-progress">
    {% for cat,prog in progress %}
    {% if cat == studying.category %}
        <progress id="progress_bar"
       min="0" max="100"
       value="{{prog}}"></progress><span>{{prog}}% 達成済み</span>
    {% endif %}
    {% endfor %}
    </div>
    {% if learning_lesson %}<p class="main-container__contents-studying-lesson">レッスン{{learning_lesson.course.course_num}}-{{learning_lesson.lesson_num}}<span class="lesson_title">   {{learning_lesson}}</span></p>{% endif %}
</div>

{% if learning_lesson %}<p class="btn1"><a href="{% url 'task_detail' studying.category learning_lesson.course.course_num learning_lesson.lesson_num %}">続きからはじめる</a></p>{% endif %}
</div>
{% else %}
{% endif %}

<h1 class="index_title">コース一覧</h1>
    {% comment %} <p>完了率：{{all_progress|floatformat}}%</p> {% endcomment %}
    <div class="indexbox-container">
    {% for cat,prog in progress %}
    <div class="indexbox-container-box">
        <h1>{{cat.title}}</h1>
        <img src="{{cat.category_image.url}}" alt="">
        <div class="category_progress_bar">
            <progress id="category_progress_bar"
                min="0" max="100"
                value="{{prog}}">
            </progress>
            <span><br>{{prog}}% 達成済み</span>
        </div>

        <p class="category_description">{{cat.description}}</p>
        <p class="btn3"><a href="{% url 'course_list' cat.title %}">はじめる</a></p>
        <p {% if studying.category == cat %}class="btn4 btn4-studying"{% else %}class="btn4"{% endif %} id="studying-{{cat.pk}}">学習中にする</p>
    </div>
    {% endfor %}
    </div>
{% endblock contents %}
{% block javascript %}
<script src="{% static 'def_i/js/utilities.js' %}"></script>
<script>
let range = {{progress|length}};
{% for cat,_ in progress %}

document.getElementById('studying-{{cat.pk}}').addEventListener('click',()=>{
    const xhr = new XMLHttpRequest();
    xhr.open("POST", "{% url 'mark_as_studying' %}");
    xhr.setRequestHeader('X-CSRFToken', getCookie("csrftoken"));
    xhr.send("{{cat.pk}}");

    for(let i = 1;i<=range;i++){
        document.getElementById('studying-'+i).classList.remove('btn4-studying')
    }
    document.getElementById('studying-{{cat.pk}}').classList.toggle('btn4-studying');
});

{% endfor %}
</script>
{% endblock javascript %}
