{% extends 'def_i/base.html' %}
{% load static %}
{% load sass_tags %}
{% block extra_style %}
    <link rel="stylesheet" href="{% sass_src 'def_i/css/index.scss' %}">
{% endblock %}

{% block menubar %}
<div class="main-container__menubar">
    <!-- <a href="{% url 'index' %}" class="main-container__menubar-link now-here"> -->
        <a href="{% url 'course' %}">
            <h1>コースへ</h1>
        </a>
    <!-- </a> -->
    <a href="{% url 'question_feed' %}">
        <h1>質問へ</h1>
    </a>
    <a href="{% url 'article_feed' %}">
        <h1>記事へ</h1>
    </a>
    <a href="{% url 'my_page' %}">
        <h1>マイページ</h1>
    </a>
    <!-- <a href="{% url 'message_notification' %}" class="main-container__menubar-link">
        <h1>メッセージ</h1>
    </a> -->
</div>
{% endblock menubar %}
{% block contents %}
<h2>ユーザーのランキング</h2>
{% for rank in ranking %}
<p>{{forloop.counter}}位：{{rank}}: cleared {{rank.cleared_lesson_num}} lesson(s), wrote {{rank.note_num}} note(s)</p>
{% endfor %}

<h2>コース</h2>
<div>
    <h3>進行中のコース・進捗</h3>
    <!-- 進捗 -->
    <p>完了率：{{progress|floatformat}}%</p>
    <p>勉強するレッスン：<a href="{% url 'task_detail' learning_lesson.pk %}">{{learning_lesson}}</a></p>


    <a href="{% url 'course' %}">
        <p>講座一覧へ</p>
    </a>
</div>

<h2>質問</h2>
<div>
    <h3>進行中のコースに関連した質問</h3>
    {% for question in questions %}
        <a href="{% url 'question_detail' question.pk %}">
            <p>・{{question.title}}</p>
        </a>
    {% endfor %}
    <a href="{% url 'question_feed' %}">
        <p>質問一覧へ</p>
    </a>
    <a href="{% url 'question_post' %}">
        <p>質問する</p>
    </a>
</div>

<h2>ノート</h2>
<div>
    <h3>進行中のコースに関連したノート</h3>
    {% for article in articles %}
        <a href="{% url 'article_detail' article.pk %}">
            <p>・{{article.title}}</p>
        </a>
    {% endfor %}
    <a href="{% url 'note_list' %}">
        <p>公開ノート一覧へ</p>
    </a>
    <p>ノートを書く</p>
</div>

<h2>進捗が近いユーザー</h2>
<div>
    <h3>ユーザー</h3>
    {% for colleague in colleagues %}
        <a href="{% url 'user_page' colleague.user.pk %}">{{colleague.user}}</a>
    {% endfor %}
    <p>ユーザーの進捗</p>
</div>

<a href="{% url 'message_notification' %}">
    <h2>お知らせ</h2>
</a>
{% for like in new_likes %}
    <p>{{like.user}}さんが「{{like.article.title}}」にいいねしました。</p>
{% endfor %}

{% for comment in article_talk %}
    <p>{{comment.msg_from}}さんが「{{comment.msg_at.title}}」にコメントしました。</p>
{% endfor %}

{% for comment in question_talk %}
    <p>{{comment.msg_from}}さんが「{{comment.msg_at.title}}」にコメントしました。</p>
{% endfor %}


<h2>チュートリアル</h2>
{% endblock contents %}
