<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'like' contents.pk %}" method="POST">
    {% csrf_token %}
    {% if contents.id in liked_list %}
        <button id="like" name="{{contents.id}}"><i class="fas fa-lg fa-heart like-red"></i></button>
    {% else %}
        <button id="like" name="{{contents.id}}"><i class="far fa-lg fa-heart"></i></button>
    {% endif %}
</form>
<p name="{{contents.id}}" class="count" id="count"> {{ contents.like_set.count }} </p>
</body>
</html>
