{% load static %}
<!DOCTYPE html>
<html lang="ja"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'def_i/css/login.css' %}">
    <title>DefInit</title>
</head>
<body>
    <div class="login-container">
        <p class="header-container__icon"><img src="{% static 'def_i/img/icon_white_transparent.png' %}"></p>
        <h1 class="header-container__title">Def init</h1>
        <p><input type="text" value="ユーザーネーム"></p>
        <p><input type="text" value="パスワード"></p>
        <p><input type="submit" value="ログイン"></p>
        <p>会員登録は<a href="{% url 'signup' %}">こちら</a></p>
    </div>
</body>
</html>