{% extends 'def_i/base.html' %}
{% load static %}
{% block menubar %}
            <div class="main-container__menubar">
                <a href="{% url 'index' %}" class="main-container__menubar-link">
                    <h1>講座一覧</h1>
                </a>
                <a href="" class="main-container__menubar-link now-here">
                    <h1>メッセージ</h1>
                </a>
            </div>
{% endblock menubar %}
{% block contents %}
{% for m in messages %}
<article class="main-container__contents-article">
        <p>{{m.msg_from}}が{{m.time|date:"Y年 M j日 H:i:s"}}に投稿</p>
</article>
{% endfor %}
{% endblock contents %}