{% extends 'def_i/base.html' %}
{% load static %}
{% block menubar %}
            <div class="main-container__menubar">
                <a href="{% url 'index' %}" class="main-container__menubar-link">
                    <h1>講座一覧</h1>
                </a>
                <a href="" class="main-container__menubar-link now-here">
                    <h1>メッセージ</h1>
                </a>
            </div>
{% endblock menubar %}
{% block contents %}
{% for m in messages %}
<article class="main-container__contents-article">
    {% ifequal m.category '記事' %}
        <a href="{% url 'article_detail' m.msg_at.pk %}">
            <p>{{m.msg_from}}があなたの{{m.category}}【{{m.msg_at_title}}】でコメントしました！確認してみましょう！{{m.time|date:"Y年 M j日 H:i:s"}}</p>
        </a>
    {% else %}
        <a href="{% url 'question_detail' m.msg_at.pk %}">
            <p>{{m.msg_from}}があなたの{{m.category}}【{{m.msg_at_title}}】でコメントしました！確認してみましょう！{{m.time|date:"Y年 M j日 H:i:s"}}</p>
        </a>
    {% endifequal %}
</article>
{% endfor %}
{% endblock contents %}