{% extends 'def_i/base.html' %}
{% load static %}
{% load sass_tags %}
{% block extra_style %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% sass_src 'def_i/css/user_page.scss' %}">
{% endblock extra_style %}
{% block menubar %}
{% comment %} <div class="main-container__userinfo">
    <div class="main-container__userinfo-user">
        <p>{% if user.user_image %}<img src="{{ user.user_image.url }}" alt="">
            {% else %}<img src="{% static 'def_i/img/default.png' %}" alt="">{% endif %}</p>
        <div>
            <h1>{{user.username}}</h1>
            <p>{{user.position}}</p>
        </div>
    </div>
    <h2>総いいね数：<span>{{user.like_count}}</span></h2>
    <p><a href="{% url 'article_feed' %}?orderby=new">検索に戻る</a></p>
</div> {% endcomment %}
{% endblock menubar %}
{% block contents %}
<h1>学習中のコース</h1>
{% if question %}
<div class="choice-button">

    {% if request.GET.orderby == 'new' %}
    <p id="art-new" class="here"><a href="?orderby=new&a_page={{request.GET.a_page}}">あなたの質問</a></p>
    <p id="like"><a href="{% url 'my_page' %}?orderby=like&a_page={{request.GET.al_page}}">いいねした質問</a></p>

    {% else %}
    <p id="art-new"><a href="?orderby=new&q_page={{request.GET.a_page}}">あなたの質問</a></p>
    <p id="like" class="here"><a href="?orderby=like&q_page={{request.GET.q_page}}">いいねした質問</a></p>
    {% endif %}
</div>
<div class="main-container__contents-article-container">
    <div id="questions" class="main-container__contents-article-box">
        {% for q in question %}
        <article class="main-container__contents-article questions">
            <h2>{{q.title}}</h2>
            <div class="main-container__contents-article-data">
                {{q.category.title}} レッスン{{q.course.course_num}}-{{q.lesson.lesson_num}}
                <a href="{% url 'user_page' q.poster.pk %}" class="user-disp"><img src="{{q.poster.user_image}}">
                    <p>{{q.poster}}</p>
                </a>
                <p class="post-date">{{q.created_at|date:"Y/n/j H:i:s"}}に投稿</p>
            </div>
            <a href="{% url 'question_detail' q.pk %}">
            </a>
        </article>
        {% empty %}
        <p>記事がありません．</p>
        {% endfor %}
    </div>
    <div class="main-container__contents-article-btn">
        <p class="btn1"><a href="{% url 'question_feed' %}">質問一覧を見る</a></p>
        <p class="btn2"><a href="{% url 'question_post' %}">質問する</a></p>
    </div>
</div>
<div class="pagination">
    {% if question.has_previous %}
    <p class="pagination_box"><a
            href="?q_page={{ question.previous_page_number }}&keyword={{request.GET.keyword}}&orderby={{request.GET.orderby}}">前へ</a>
    </p>
    {% endif %}
    <!-- 数字の部分 -->
    {% for num in question.paginator.page_range %}
    {% if question.number == num %}
    <p class="pagination_num pagination_here"><span>{{ num }}</span></p>
    {% else %}
    <p class="pagination_num pagination_not_here"><a
            href="?q_page={{ num }}&keyword={{request.GET.keyword}}&orderby={{request.GET.orderby}}">{{ num }}</a></p>
    {% endif %}
    {% endfor %}
    <!-- 次へ の部分 -->
    {% if question.has_next %}
    <p class="pagination_box"><a
            href="?q_page={{ question.next_page_number }}&keyword={{request.GET.keyword}}&orderby={{request.GET.orderby}}">次へ</a>
    </p>
    {% endif %}
    {% endif %}
</div>
{% if article %}

<div class="choice-button">
    {% if request.GET.orderby == 'new' %}
    <p id="art-new" class="here"><a href="?orderby=new&a_page={{request.GET.a_page}}">あなたのノート</a></p>
    <p id="like"><a href="{% url 'my_page' %}?orderby=like&a_page={{request.GET.al_page}}">いいねしたノート</a></p>

    {% else %}
    <p id="art-new"><a href="?orderby=new&a_page={{request.GET.a_page}}">あなたのノート</a></p>
    <p id="like" class="here"><a href="?orderby=like&a_page={{request.GET.a_page}}">いいねしたノート</a></p>
    {% endif %}
</div>

<div class="main-container__contents-article-container">
    <div id="new-articles" class="main-container__contents-article-box">
        {% if request.GET.orderby == 'new' %}
        {% for a in article %}
        <article class="main-container__contents-article">
            <h2>{{a.title}}</h2>
            <div class="main-container__contents-article-data">
                {{a.category.title}} レッスン{{a.course.course_num}}-{{a.lesson.lesson_num}}
                <a href="{% url 'user_page' a.poster.pk %}" class="user-disp"><img src="{{a.poster.user_image}}">
                    <p>{{a.poster}}</p>
                </a>
                <p class="post-date">{{a.created_at|date:"Y/n/j H:i:s"}}に投稿</p>
            </div>
        </article>
        {% empty %}
        <p>ノートがありません．</p>
        {% endfor %}
    </div>
        <div class="main-container__contents-article-btn">
        <p class="btn1"><a href="{% url 'article_feed' %}">ノート一覧を見る</a></p>
        <p class="btn2"><a href="{% url 'article_post' %}">ノートを書く</a></p>
    </div>

</div>
{% else %}
<div id="like-articles">
    {% for a in article %}
    <article class="main-container__contents-article like-articles">
        <p><a href="">{{a.poster}}</a>が{{a.created_at|date:"Y年 M j日 H:i:s"}}に投稿</p>
        <a href="{% url 'article_detail' a.pk %}">
            <h2>{{a.title}}</h2>
        </a>
        <p>{{a.like_count}}いいね</p>
    </article>
    {% empty %}
    <p>ノートがありません．</p>
    {% endfor %}
</div>
{% endif %}
<div class="pagination">{% include 'def_i/pagination.html' %}</div>

{% endif %}
<p>{{learning_course}}</p>
<p>{{learning_lesson}}</p>
{% endblock contents %}
{% block member_list %}{% endblock member_list %}
{% block javascript %}
<script>
    {% comment %} document.addEventListener('DOMContentLoaded', () => {
        const url = new URL(location)
        url.searchParams.delete('orderby')
        const artBtn = document.getElementById('art-new')
        const likeBtn = document.getElementById('like')
        const questBtn = document.getElementById('quest-new')
        const artList = document.getElementById('new-articles')
        const likeList = document.getElementById('like-articles')
        const questList = document.getElementById('questions')
        artBtn.addEventListener('click', () => {
            artList.classList.remove('hidden')
            likeList.classList.add('hidden')
            questList.classList.add('hidden')
            artBtn.classList.add('here')
            likeBtn.classList.remove('here')
            questBtn.classList.remove('here')
            url.searchParams.set("orderby", "new")
        })
        likeBtn.addEventListener('click', () => {
            likeList.classList.remove('hidden')
            artList.classList.add('hidden')
            questList.classList.add('hidden')
            artBtn.classList.remove('here')
            likeBtn.classList.add('here')
            questBtn.classList.remove('here')
            url.searchParams.set("orderby", "like")
        })
        questBtn.addEventListener('click', () => {
            artList.classList.add('hidden')
            likeList.classList.add('hidden')
            questList.classList.remove('hidden')
            artBtn.classList.remove('here')
            likeBtn.classList.remove('here')
            questBtn.classList.add('here')
        })
    }) {% endcomment %}
</script>
{% endblock javascript %}