{% load static %}
<body>
    <div class="header-container__notification-button" id="bell">
        <p><img src="{% static 'def_i/img/bell-icon.svg' %}" alt=""></p>
        <div class="header__notify hidden_class" id="hover_notify">
            <a href="{% url 'message_notification' %}">
                <h2>お知らせ</h2>
            </a>
                {% for like in new_likes %}
                    <p>{{like.user}}さんが「{{like.article.title}}」にいいねしました。</p>
                {% endfor %}
                {% for bookmark in new_bookmarks %}
                    <p>{{bookmark.user}}さんが「{{bookmark.question.title}}」をブックマークしました。</p>
                {% endfor %}
                {% for comment in article_talk %}
                    <p>{{comment.msg_from}}さんが「{{comment.msg_at.title}}」にコメントしました。</p>
                {% endfor %}
                {% for comment in question_talk %}
                    <p>{{comment.msg_from}}さんが「{{comment.msg_at.title}}」にコメントしました。</p>
                {% endfor %}
        </div>
    </div>
</body>