{% extends 'def_i/base.html' %}
{% load static sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/article_post.scss' %}">
{% endblock extra_style %}
{% block menubar %}{% endblock menubar %}

{% block contents %}
<form action = "" method = "POST" class="postform-form" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="question-title">{{form.title}}</div>
    <div class="note-at">
        {{form.category}}
        {{form.course}}
        {{form.lesson}}
    </div>

    <div class="content">
        <div class="markdownx">
            <textarea name="content" id="id_content" cols="40" rows="10" placeholder="本文を入力（コードを含む場合はMarkdown記法をご使用ください）&#13;・実現したいこと&#13;・試したこと&#13;・出力されたエラー&#13;などを書きましょう" class="markdownx-editor" data-markdownx-editor-resizable="" data-markdownx-urls-path="/markdownx/markdownify/" data-markdownx-upload-urls-path="/markdownx/upload/" data-markdownx-latency="500"></textarea>
        </div>
        <label id="label_image_1">
            <div class="article_image_icon">
                <img src="{% static 'def_i/img/img-icon.svg' %}" alt="">
            </div>
            <input type="file" name="question_image_1" id="id_question_image_1" accept="image/*">
        </label>
        <label id="label_image_2" class="hidden_class">
            <div class="article_image_icon">
                <img src="{% static 'def_i/img/img-icon.svg' %}" alt="">
            </div>
            <input type="file" name="question_image_2" id="id_question_image_2" accept="image/*">
        </label>
        <div id="preview" class="preview">
            <div id="new_img_wrapper_1"></div>
            <div id="new_img_wrapper_2"></div>
        </div>
    </div>
    <button type="submit" class="postform-btn">投稿する</button>
</form>
{% endblock contents %}

{% block javascript %}
<script>
    const courses = JSON.parse('{{course_dict|escapejs}}');
    console.log("courses: " + courses);
    const lessons = JSON.parse('{{lesson_dict|escapejs}}');
</script>
<script src="{% static 'def_i/js/filter.js' %}"></script>
<script src="{% static 'def_i/js/upload_img.js' %}"></script>
{% endblock javascript %}
