{% extends 'def_i/base.html' %}
{% load static sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/question_post.scss' %}">
{% endblock extra_style %}
{% block menubar %}{% endblock menubar %}
{% block contents %}
<h1 class="postform-title">質問投稿フォーム</h1>
<form action = "" method = "POST" class="postform-form" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
<!-- <textarea name="content" cols="40" rows="10" placeholder="本文を入力（コードを含む場合はMarkdown記法をご使用ください）&#13;・実現したいこと &#13;・試したこと&#13;・出力されたエラー <br> などを書きましょう"></textarea> -->
<button type="submit" class="postform-btn">投稿</button>
</form>
{% endblock contents %}
