{% extends 'def_i/base-question.html' %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'def_i/css/question_feed.css' %}">{% endblock extra_style %}
{% block contents %}

    {% for q in questions %}
    <article class="main-container__contents-article">
        <p>{{q.poster}}が{{q.created_at|date:"Y年 M j日 H:i:s"}}に投稿</p>
        <a href="{% url 'question_detail' q.pk %}">
            <h1>{{q.title}}</h1>
        </a>
    </article>
    {% empty %}
        <p>質問がありません．</p>
    {% endfor %}

{% endblock contents %}