{% extends 'def_i/base.html' %}
{% load sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/article_detail.scss' %}">
{% endblock extra_style %}

{% block menubar %}{% endblock menubar %}
{% block contents %}
{% if messages %}
	{% for message in messages %}
		<span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
	{% endfor %}
{% endif %}
<h1>{{contents.title}}</h1>
{% if user == contents.poster %}
    <span><a href="{% url 'question_edit' contents.pk %}">編集する</a></span>
    <span><a href="{% url 'question_delete' contents.pk %}">削除する</a></span>
{% endif %}
<p>質問者：{{contents.poster}}</p>
<div class="article-contents">{{contents.formatted_markdown|safe}}</div>
<p>最新のコメント</p>
    {% for c in comments %}
    <article class="main-container__contents-article">
        <a href="{% url 'user_page' c.msg_from.pk %}"><p>{{c.msg_from}}></p></a>
        <h1>{{c.msg}}</h1>
        <p>{{c.time|date:"Y年 M j日 H:i:s"}}</p>
    </article>
    {% empty %}
        <p>コメントがありません．</p>
    {% endfor %}
<a href="{% url 'question_talk' contents.pk %}"><p>コメントを書く<span>({{comments_count}})</span></p></a>
<a href="{% url 'question_feed_new' %}"><p>質問フィードに戻る</p></a>
{% endblock contents %}