{% extends 'def_i/base.html' %}
{% load static %}
{% block extra_style %}
{% endblock extra_style %}
{% block contents %}
{% block menubar %}
<div class="main-container__menubar">
    <a href="{% url 'task_detail' lesson.pk %}" class="main-container__menubar-link now-here">
        <h1>機能</h1>
    </a>
    <a href="{% url 'task_question' lesson.pk %}" class="main-container__menubar-link">
        <h1>過去の質問</h1>
    </a>
    <a href="{% url 'task_question' lesson.pk %}?orderby=new&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink">
        <p><span style="visibility:hidden;">──</span>──新着順</p>
    </a>
    <a href="{% url 'task_question' lesson.pk %}?orderby=unanswered&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink">
        <p><span style="visibility:hidden;">──</span>──未回答</p>
    </a>
    <a href="{% url 'task_article' lesson.pk %}?orderby=new&keyword={{request.GET.keyword}}" class="main-container__menubar-link">
        <h1>過去のまとめ</h1>
    </a>
    <a href="{% url 'task_article' lesson.pk %}?orderby=new&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink">
        <p><span style="visibility:hidden;">──</span>──新着順</p>
    </a>
    <a href="{% url 'task_article' lesson.pk %}?orderby=like&keyword={{request.GET.keyword}}" class="main-container__menubar-sublink">
        <p><span style="visibility:hidden;">──</span>──いいね順</p>
    </a>
    <a href="{% url 'task_memo' lesson.pk %}" class="main-container__menubar-link">
        <h1>メモ帳</h1>
    </a>
</div>
{% endblock menubar %}
<div class="detail">
    <h1>{{ lesson.title }}</h1>
    <p class="task_contents">{{ lesson.contents }}</p>
    <div class="buttons">
        <a class="button"  href="{% url 'task_article_post'  lesson.pk %}"><p>まとめる</p></a>
        <a class="button" href="{% url 'task_question_post' lesson.pk %}"><p>質問する</p></a>
    </div>
</div>





{% endblock contents %}
