{% extends 'def_i/base.html' %}
{% load static %}
{% load sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/task_question.scss' %}">
{% endblock extra_style %}
{% block contents %}
<div class="main-container__menubar">
    <a href="{% url 'task_detail' task.pk %}" class="main-container__menubar-link">
        <h1>機能</h1>
    </a>
    <a href="{% url 'task_question' task.pk %}" class="main-container__menubar-link now-here">
        <h1>過去の質問</h1>
    </a>
    <!--<div class="">box</div>-->
    {% if sort_by_new == True %}
    <a href="{% url 'task_question' task.pk %}" class="main-container__menubar-sublink now-here-sub">
        <p><span style="visibility:hidden;">──</span>──新着順</p>
    </a>
    <a href="{% url 'task_question_unanswered' task.pk %}" class="main-container__menubar-sublink">
        <p><span style="visibility:hidden;">──</span>──未回答</p>
    </a>
    {% else %}
    <a href="{% url 'task_question' task.pk %}" class="main-container__menubar-sublink">
        <p><span style="visibility:hidden;">──</span>──新着順</p>
    </a>
    <a href="{% url 'task_question_unanswered' task.pk %}" class="main-container__menubar-sublink now-here-sub">
        <p><span style="visibility:hidden;">──</span>──未回答</p>
    </a>
    {% endif %}
    <a href="{% url 'task_article' task.pk %}" class="main-container__menubar-link">
        <h1>過去のまとめ</h1>
    </a>
    <a href="{% url 'task_article' task.pk %}" class="main-container__menubar-sublink">
        <p><span style="visibility:hidden;">──</span>──新着順</p>
    </a>
    <a href="{% url 'task_article_like' task.pk %}" class="main-container__menubar-sublink">
        <p><span style="visibility:hidden;">──</span>──いいね順</p>
    </a>
    <a href="{% url 'task_memo' task.pk %}" class="main-container__menubar-link">
        <h1>メモ帳</h1>
    </a>
</div>

<div class="choice-button">
    <p id="quest_all" class="here">全ての質問</p>
    <p id="my_quest">自分の質問</p>
</div>
<div id="question_list" >
    {% for q in question_list %}
    <article class="main-container__contents-article">
        <p>{{q.poster}}が{{q.created_at|date:"Y年 M j日 H:i:s"}}に投稿</p>
        <a href="{% url 'question_detail' q.pk %}">
            <h1>{{q.title}}</h1>
        </a>
    </article>
    {% empty %}
        <p>質問がありません．</p>
    {% endfor %}
</div>

<div id="my_question_list" class="hidden">
    {% for q in my_question_list %}
    <article class="main-container__contents-article">
        <p>{{q.poster}}が{{q.created_at|date:"Y年 M j日 H:i:s"}}に投稿</p>
        <a href="{% url 'question_detail' q.pk %}">
            <h1>{{q.title}}</h1>
        </a>
    </article>
    {% empty %}
        <p>質問がありません．</p>
    {% endfor %}
</div>
<div class="pagination">{% include 'def_i/pagination.html' %}</div>


{% endblock contents %}

{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded',()=>{
    const quesBtn = document.getElementById('quest_all')
    const myBtn = document.getElementById('my_quest')
    const quesList = document.getElementById('question_list')
    const myList = document.getElementById('my_question_list')
    quesBtn.addEventListener('click',()=>{
        quesList.classList.remove('hidden')
        myList.classList.add('hidden')
        quesBtn.classList.add('here')
        myBtn.classList.remove('here')
    })
    myBtn.addEventListener('click',()=>{
        quesList.classList.add('hidden')
        myList.classList.remove('hidden')
        quesBtn.classList.remove('here')
        myBtn.classList.add('here')
    })
    
})
</script>
{% endblock javascript %}