{% extends 'def_i/base.html' %}
{% load static %}
{% load sass_tags %}
{% block contents %}
<div class="main-container__menubar">
    <a href="" class="main-container__menubar-link">
        <h1>機能</h1>
    </a>
    <a href="" class="main-container__menubar-link">
        <h1>過去の質問</h1>
    </a>
    <!--<div class="">box</div>-->
    <a href="" class="main-container__menubar-sublink">
        <p><span style="color:#f4f4f4;">──</span>──新着順</p>
    </a>
    <a href="" class="main-container__menubar-sublink">
        <p><span style="color:#f4f4f4;">──</span>──未回答</p>
    </a>
    <a href="" class="main-container__menubar-link">
        <h1>過去のまとめ</h1>
    </a>
    <a href="" class="main-container__menubar-sublink">
        <p><span style="color:#f4f4f4;">──</span>──新着順</p>
    </a>
    <a href="" class="main-container__menubar-sublink">
        <p><span style="color:#f4f4f4;">──</span>──いいね順</p>
    </a>
    <a href="" class="main-container__menubar-link">
        <h1>メモ帳</h1>
    </a>
</div>


{% endblock contents %}