<!-- {% extends 'def_i/base.html' %}
{% comment %} {% load static %}
{% load sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/task_memo_form.scss' %}">
{% endblock extra_style %}
{% block contents %}
{% block menubar %}
{% endblock menubar %}

    <a href="{% url 'task_memo' pk.pk %}" class="now-here">
        <h1>メモ帳</h1>
    </a>
</div>
<h1>メモ</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{form.contents}}
    <input  type="submit" value="保存する" >
</form>

{% endblock contents %} {% endcomment %} -->
