{% extends 'def_i/base.html' %}
{% load static %}
{% load sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'def_i/css/task_detail.scss' %}">
{% endblock extra_style %}
{% block contents %}
<div class="breadcrumbs">
    <a class="breadcrumbs-category"><p>バックエンド</p></a>
    <img src="">
    <a class="breadcrumbs-course"><p>レッスン</p></a>
    <img src="">
    <a class="breadcrumbs-course"><p>１.</p></a>
</div>
<div class="main-container__contents-menubar">
    <div class="main-container__contents-menubar-title">
        <p>レッスン{{course.course_num}}</p>
    </div>
    <a href="" class="main-container__contents-menubar-lesson">
      <div class="lesson_checkbox">
      </div>
      <p>１.{{course.course_num}}</p>
    </a>
    <a href="{% url 'question_post' %}" class="main-container__contents-menubar-q">
        <p>質問する</p>
    </a>
    <a href="{% url 'article_post' %}" class="main-container__contents-menubar-q">
        <p>ノートを書く</p>
    </a>
    </div>
{% endblock contents %}
