{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% sass_src 'def_i/css/base.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'accounts/css/password_change.scss' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <title>DefInit</title>
</head>

<body>
    <div class="password_change">
        <div class="password_change-container">
            <p class="password_change-container__title">パスワード再設定</p>
            <form class="password_change-container__form" action="" method="POST">
                {% csrf_token %}
                <p class="password_change-container__caution">登録したメールアドレスをご入力ください．</p>
                <p class="normal_box">{{ form.email }}</p>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <p class="normal_box"><input class="button" type="submit" value="次へ"></p>
            </form>
       </div>
    </div>

</body>

</html>