{% extends 'def_i/base.html' %}
{% load static %}
{% load sass_tags %}
{% block extra_style %}
<link rel="stylesheet" href="{% sass_src 'accounts/css/change.scss' %}">
{% endblock extra_style %}
{% block contents %}
<div class="change-choices">
    <p><a href="{% url 'account_change' %}">プロフィール編集</a></p>
    <p><a href="#" class="here">パスワード変更</a></p>
</div>
<div class="password_change-container">
    <form class="password_change-container__form" action="{% url 'password_change' %}" method="POST">
        {% csrf_token %}
        <p class="normal_box"><span>元のパスワード</span>{{ form.old_password }}</p>
        <p class="normal_box"><span>新しいパスワード</span>{{ form.new_password1 }}</p>
        <p class="normal_box"><span>新しいパスワード(確認用)</span>{{ form.new_password2 }}</p>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <p class="alert alert-danger">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <p><input id="pwc_btn" class="button" type="submit" value="変更完了"></p>
    </form>
</div>
{% endblock contents %}