{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% sass_src 'def_i/css/base.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'accounts/css/password_change.scss' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <title>DefInit</title>
</head>

<body>
    <div class="password_change">
        <div class="password_change-container">
            <p class="password_change-container__title">パスワード再設定</p>
            <p class="password_change-container__caution2">ご入力されたメールアドレスに、パスワード再設定用のリンクを送信しました。</p>
            <p class="normal_box2"><a href="{% url 'account_login' %}" class="button">ログインページに戻る</a></p>
       </div>
    </div>

</body>

</html>