{% extends "def_i/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">
{% endblock %}
{% block header %}
{% endblock %}
{% block menubar %}
{% endblock menubar %}
{% block contents %}
<div class="signup-container">
    <div class="signup-header">
        <p class="header-container__icon"><img src="{% static 'def_i/img/icon_white_transparent.png' %}"></p>
        <p class="header-container__title">Def init</p>
    </div>
     #def initとアイコンは白いだけであります
     <div class="signup-form">
        <form action="{% url 'account_signup' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>名前 {{ form.username }}</p>
            <p>画像 {{ form.user_image }}</p>
            <p>肩書き {{ form.position }}</p>
            <p>メールアドレス {{ form.email }}</p>
            <p>パスワード {{ form.password1 }}</p>
            <p>パスワード2 {{ form.password2 }}</p>
            <p><input type="submit" value="登録完了"></p>
        </form>
     </div>
    
</div>
{% endblock contents %}