{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% sass_src 'def_i/css/base.scss' %}">
    <link rel="stylesheet" href="{% sass_src 'accounts/css/signup.scss' %}">
    <link rel="icon" href="{% static 'def_i/img/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
    <title>DefInit</title>
</head>

<body>
    <div class="signup">
        <div class="signup-container">
        <h1>アカウントを作成</h1>
            <form class="signup-container__form" action="{% url 'account_signup' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %} <p class="image_box"><span>プロフィール画像</span>
                    <label for="">
                        {{ form.user_image }}
                    </label></p> {% endcomment %}
                <p class="normal_box"><span>ニックネーム</span>{{ form.username }}</p>
                <p class="normal_box"><span>肩書き</span>{{ form.position }}</p>
                <p class="normal_box"><span>メールアドレス</span>{{ form.email }}</p>
                <p class="normal_box"><span>パスワード</span>{{ form.password1 }}</p>
                <p class="normal_box"><span>パスワード(確認用)</span>{{ form.password2 }}</p>
                <div class="error-box">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
                <p class="change-btn"><input class="button" type="submit" value="アカウントを作成する"></p>
            </form>
        </div>
    </div>

</body>

</html>
