.main-container {
    height: 820px;
}
.postform-form{
    position: relative;
}
#id_title, #id_category, #id_course, #id_lesson, #id_content {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: #ffffff 0% 0% no-repeat padding-box;

}
.question-title {
    padding-top: 128px;
}
.postnow label {
    display: flex;
    margin-top: 16px;
}
.postnow :first-child {
    margin-top: 144px;
}
#id_is_published {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.post_checkbox {
    display: block;
    font-size: 24px;
    position: relative;
    margin-bottom: 32px;
    padding-left: 32px;
    cursor: pointer;
    user-select: none;
}
input#id_clear {
    display: none;
}
input#id_is_published {
    display: none;
}
.checkbox_is_published {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: solid 2px #212121;
    border-radius: 4px;
    box-sizing: border-box;
}
.checkbox_is_published::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
.post_checkbox input:checked + .checkbox_is_published {
    background: #534EE1;
    border-color: #fafafa;
}
.post_checkbox input:checked + .checkbox_is_published::after {
    opacity: 1;
}

#id_title {
    height: 48px;
    width: 872px;
    padding-left: 16px;
}

.note_at {
    display: flex;
    justify-content: space-between;
    margin: 16px;
    height: 80px;
}
#id_category, #id_course, #id_lesson {
    height: 48px;
    width: 286px;
    box-sizing: border-box;
    margin: 16px 0;
    padding-left: 16px;
    color: #212121;
    font-family: 'Noto Sans JP', sans-serif;
}
#id_course {
    margin: 0 14px;
}
textarea {
    min-height: 248px;
    width: 99.6%;
    box-sizing: border-box;
    padding: 19px 16px;
    font: normal normal medium 14px/28px Noto Sans JP;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0.29px;
    resize: vertical;
}
.content {
    position: relative;
}
.article_image_icon img {
    position: absolute;
    bottom: 32px;
    right: 16px;
    width: 32px;
    height: 32px;
}
input[id$="_image_1"], input[id$="_image_2"] {
    display: none;
}
.postform-btn{
    width: 224px;
    height: 48px;
    margin-top: 32px;
    margin-bottom: 16px;
    position: absolute;
    right: 0%;
    color: #fafafa;
    background: #534EE1 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #21212119;
    border-radius: 4px;
    border: 0;
    &:hover{
        background-color: #3d2dbd;
        transition: 0.3s;
        cursor: pointer;
    }
}
::placeholder {
    color: #bdbdbd;
    font-family: 'Noto Sans JP', sans-serif;
}
.preview {
    display: flex;
    width: 672px;
    height: 0px;
    margin: 16px 0 16px 32px;
    div[id^=new_img_wrapper_] {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 16px;
        img {
            width: 160px;
            height: 120px;
            object-fit: contain;
        }
        .img_delete_btn {
            height: 28px;
            width: 90px;
            margin-top: 16px;
            background-color: #ffffff;
            color: #4e93e1;
            box-shadow: 0px 1px 6px #21212119;
            border: 1px solid #4E93E1;
            border-radius: 4px;
        }
    }
}

// プレビュー時
.add_preview_space {
    height: 428px;
    width: 99.6%;
    box-sizing: border-box;
    padding: 19px 16px 200px 16px;
    letter-spacing: 0.29px;
}
.icon_with_preview img {
    top: 384px;
    right: 16px;
}
.preview_space {
    position: absolute;
    bottom: 40px;
    left: 0;
    height: 180px;
}
