// #note {
//     padding: 32px 48px;
//     border: 1px solid #eeeeee;
//     border-radius: 4px;
//     background: #FFFFFF 0% 0% no-repeat padding-box;
// }
// .like-outer{
//     display: flex;
//     flex-direction: row;
//     margin-top: 25px;
//     p{
//         margin: 0%;
//         padding: 0 0 0 1rem;
//     }
//     #like{
//         border: 0;
//         padding: 0%;
//         background-color: #FFFFFF;
//     }
//     // i{
//     //     font-size: 1rem;
//     // }
// }
// .note-info {
//     margin-top: 26px;
//     display: flex;
// }
// .article{
//     &-contents{
//         background-color: white;
//         padding: 1rem;
//         word-wrap:break-word;
//     }
// }
.like-outer {
    display: flex;
    align-items: center;
    img {
        // margin-top: 25px;
    }
    p {
        margin-left: 8px;
    }
}
code{
    background-color: oldlace;
    display: inline-block;
    white-space: normal;
    max-width:100%;
    word-break:break-all;
    word-wrap:break-word;
}
