html {
  font-size: 20px;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #f4f4f4;
}

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 4rem;
  width: 100%;
  background-color: black;
  z-index: 1;
}

.header__hover-item {
  position: fixed;
  top: 5rem;
  right: 10%;
  z-index: 5;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.header-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  white-space: nowrap;
  text-decoration: none;
}

.header-container a {
  text-decoration: none;
}

.header-container__icon {
  height: 3rem;
  width: 3rem;
  margin: 0.6rem 0 0 0;
}

.header-container__icon img {
  max-height: 100%;
  width: auto;
}

.header-container__title {
  color: white;
  font-size: 2rem;
  font-weight: normal;
  margin: auto 0;
  padding: 0.8rem 0 0 0;
  white-space: nowrap;
}

.header-container__contents {
  margin: 0 3%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-container__contents a {
  text-align: center;
  padding: 1.4rem 2rem;
  display: inline-block;
  height: 0.6rem;
  font-size: 1rem;
  color: rgba(250, 247, 247, 0.5);
  text-decoration: none;
}

.header-container__contents a:hover {
  color: oldlace;
  border-bottom: oldlace 5px solid;
}

.header-container__usericon {
  height: 2rem;
  width: 2rem;
  padding: 0 1rem;
  border-left: oldlace 3px solid;
}

.header-container__usericon img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.main {
  background-color: #f4f4f4;
  height: 1000px;
  width: 100%;
}

.main-container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.main-container__menubar {
  position: fixed;
  left: 5%;
  top: 5rem;
  width: 10rem;
  height: 70%;
  border-right: #BAB7B7 3px solid;
}

.main-container__menubar a {
  text-decoration: none;
}

.main-container__menubar h2 {
  font-weight: normal;
  margin: 0.2rem 0;
  font-size: 1rem;
  color: #837F7F;
}

.main-container__menubar h2:hover {
  color: #f4f4f4;
  background-color: #837F7F;
}

.main-container__menubar p {
  font-size: 0.75rem;
  color: #837F7F;
  margin: 0;
  padding: 0.5rem 0;
}

.main-container__menubar p:hover {
  color: #f4f4f4;
  background-color: #C3BABA;
}

.main-container__contents {
  margin: 0%;
  padding: 5rem 0 5rem 12rem;
  width: 50%;
}

.main-container__contents-article {
  height: 10%;
  border-top: 1px #837F7F solid;
  background-color: #fcfcfc;
}

.main-container__contents-article h2 {
  margin: 0%;
  font-size: 1rem;
}

.main-container__contents-article p {
  margin: 0%;
  font-size: 0.75rem;
  color: #837F7F;
}

.now-here h2 {
  color: #f4f4f4;
  background-color: #837F7F;
}

.now-here-sub p {
  color: #f4f4f4;
  background-color: #C3BABA;
}

.hidden_class {
  visibility: hidden;
}
/*# sourceMappingURL=base.css.map */