
$button-gray:#BAB7B7;
$list-stay:#837F7F;
$list-hover:#C3BABA;
$next-page:rgba(10, 10, 10, 0.1);
$next-hover:rgba(5, 5, 5, 0.5);
$header-contents:rgba(250, 247, 247, 0.5);
html{
    font-size: 20px;
}
body{
    margin: 0%;
    padding: 0%;
}
.header{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 4rem;
    width: 100%;
    background-color: black;
    z-index: 1;
    &-container{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        height: 4rem;
        &__icon{
            height: 3rem;
            width: 3rem;
            margin: 0.6rem 0 0 0;
            img{
                max-height: 100%;
                width: auto;
            }
        }
        &__title{
            color: white;
            font-size: 2rem;
            font-weight: normal;
            margin: auto 0;
            padding: 0.8rem 0 0 0;
            white-space:nowrap;
        }
        &__contents{
            margin: 0 2rem;
            a{
                text-align: center;
                width: 5rem;
                padding: 1.4rem 2rem;
                display: inline-block;
                height: 0.6rem;
                font-size: 1rem;
                color: $header-contents;
                text-decoration: none;
                border-bottom: $header-contents 5px solid;
                &:hover{
                    color: oldlace;
                    border-bottom: oldlace 5px solid;
                }
            }
        }
        &__usericon{
            height: 2rem;
            width: 2rem;
            padding: 0 1rem;
            border-left: oldlace 3px solid;
            img{
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}
.main{
    background-color: #f4f4f4;
    height: 1000px;
    width: 100%;
    &-container{
        &__menubar{
            position: fixed;
            left: 0%;
            top: 10rem;
            width: 15rem;
            height: 20rem;
            border-right: $list-stay 3px solid;
        }
    }
}