$line-gray: #eeeeee;
$title-black: #1c1e21;
$info-black: #212121;
$contents-black: #262626;
$blue: #4e93e1;

.main-container {
  margin-top: 96px;
  margin-right: 48px;
  background: #fbfcfe;
  &__contents {
    display: flex;
    position: relative;
  }
}
.main-bar {
  width: 640px;
}
.contents {
  border: 1px solid $line-gray;
  border-radius: 4px;
  background: #ffffff;
  padding: 0 48px;

  &-title {
    margin: 32px 0 26px 0;
    font-size: 22px;
    word-break: break-word;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
      font-weight: 300;
    }

    &-at {
      display: flex;
      &-category {
        margin-right: 14px;
      }
    }
  }
  &-text {
    margin: 50px 0 32px 0;
    color: $contents-black;
    text-align: left;
    letter-spacing: 0.22px;
    line-height: 24px;
    word-break: break-word;
    line-height: 1.5;
    p{
      font-size: 16px;
      font-weight: 300;
    }
    h1{
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      padding-bottom: 1em;
    }
    h2{
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      font-weight: bold;
    }
    h3{
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      font-weight: bold;
      opacity: 0.8;
    }
    h4{
      margin-block-start: 1.33em;
      margin-block-end: 1.33em;
      font-weight: bold;
    }
    h5{
      font-size: 16px;
      font-weight: bold;
    }
    h6{
      font-size: 14px;
      font-weight: bold;
    }
    p{
      font-size: 16px;
      margin-top: 1em;
      margin-bottom: 1em;
      line-height: 1.5em;
    }
    h1,h2{
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    ol{
      display: block;
      list-style-type: decimal;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
    li{
      display: list-item;
      text-align: -webkit-match-parent;
    }
    code {
      font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    //   font-size: 14px;
    //   line-height: 2em;
    //   background-color: #000;
    //   color: #eee;
    }

  }
  &-images {
    display: flex;
    justify-content: space-around;
    margin: 32px 0;

    img {
      width: 160px;
      height: 120px;
    }
  }
  &-buttons {
    margin: 50px 0 21px 0;
    display: flex;
    justify-content: space-around;

    .btn-edit {
      display: inline-block;
      width: 224px;
      height: 48px;
      background: #534EE1 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 6px #21212119;
      border-radius: 4px;
      opacity: 1;
      a {
        display: block;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.38px;
        color: #FAFAFA;
        margin: 0 auto;
        line-height: 48px;
      }
      &:hover{
        background-color: #3d2dbd;
        transition: 0.3s;
        cursor: pointer;
      }
    }
    .btn-delete {
      display: inline-block;
      width: 224px;
      height: 48px;
      box-shadow: 0px 1px 6px #21212119;
      border: 1px solid #4E93E1;
      border-radius: 4px;
      opacity: 1;
      a {
        display: block;
        text-align: center;
        font: normal normal medium 16px/32px Noto Sans JP;
        letter-spacing: 0.38px;
        color: #4E93E1;
        line-height: 48px;
        // padding-top: 20px;
        margin: 0 auto;
      }
      &:hover{
        background-color: #f5f5f5;
        transition: 0.3s;
        cursor: pointer;
      }
    }
  }
}

.comments-wrapper {
  margin-top: 91px;
  background: #ffffff;
  border: 1px solid $line-gray;
  border-radius: 4px;
  &__title {
    font-size: 22px;
    margin: 32px 0 0 48px;
    color: $title-black;
  }
}
.comment {
  margin: 0 48px;
  border-bottom: 1px solid $line-gray;
  &-info {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: normal normal 300 14px/28px Noto Sans JP;
    letter-spacing: 0.29px;

    a {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
        width: 24px;
        height: 24px;
      }
      p {
        font: normal normal medium 16px/32px Noto Sans JP;
        font-weight: 300;
        letter-spacing: 0.38px;
        color: #212121;
        opacity: 1;
      }
    }
  }
  &-text {
    margin: 28px 0 34px 0;
    font: normal normal medium 16px/32px Noto Sans JP;
    font-weight: 300;
    letter-spacing: 0.22px;
    color: $contents-black;
    word-break: break-word;
    line-height: 1.5;
    h1{
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
    }
    h2{
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      font-weight: bold;
    }
    h3{
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      font-weight: bold;
    }
    h4{
      margin-block-start: 1.33em;
      margin-block-end: 1.33em;
      font-weight: bold;
    }
    h5{
      font-size: 16px;
      font-weight: bold;
    }
    h6{
      font-size: 14px;
      font-weight: bold;
    }
    p{
      font-size: 16px;
      margin-top: 1em;
      margin-bottom: 1em;
      line-height: 1.5em;
    }
    h1,h2{
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
    ol{
      display: block;
      list-style-type: decimal;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }
    li{
      display: list-item;
      text-align: -webkit-match-parent;
    }
    code {
      font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    //   font-size: 14px;
    //   line-height: 2em;
    //   background-color: #000;
    //   color: #eee;
    }

  }
}

.form-wrapper {
  margin: 64px 0 119px 0;

  form {
    border: 1px solid $line-gray;
    border-radius: 4px;
    height: 145px;
    background: #ffffff;
    position: relative;

    textarea {
      width: 100%;
      height: 145px;
      padding: 16px 48px;
      border: none;
      box-sizing: border-box;

      text-align: left;
      font: normal normal 300 12px/24px Noto Sans JP;
      letter-spacing: 0.22px;
      color: #9e9e9e;
      opacity: 1;
      resize: vertical;
    }
    button {
      background: #ffffff;
      border: none;
      margin: 0 14px 22px;
      position: relative;
      left: 575px;
      bottom: 33px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.sidebar {
  width: 240px;
  height: 600px;
  margin-left: 32px;
  letter-spacing: 0.38px;
  color: $info-black;
  text-align: left;
  font: normal normal medium 16px/32px Noto Sans JP;
  position: sticky;
  top: 96px;
  right: 0;
  h3 {
    margin-left: 16px;
  }

  &-poster {
    &-info {
      margin: 11px 0 0 16px;
      display: flex;
      align-items: center;
      img {
        width: 18px;
        height: 18px;
        margin-right: 8px;
      }
    }
    form {
      margin: 16px 0 0 16px;
      input {
        width: 20px;
        height: 20px;
        margin: 0%;
      }
      span {
        margin-left: 8px;
      }
    }
  }
  &-move {
    margin: 34px 0 16px 0;
    #to_note, #to_comment, #to_question, #to_answer {
      height: 24px;
      padding: 12px 0 12px 16px;
    }
    #to_note, #to_question {
      background: #f5f5f5 0% 0% no-repeat padding-box;
      border-radius: 4px;
    }
  }

  .related-contents {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid $line-gray;
    border-radius: 4px;
    margin-top: 8px;
    &-title {
      padding: 16px 16px 0 16px;
      word-break: break-word;
      a {
        display: block;
        height: 48px;
        border-bottom: 1px solid $line-gray;
        color: $blue;
        font-size: 12px;
        letter-spacing: 0.22px;
      }
    }
    &-title:last-of-type {
      border: none;
    }
  }
}
.like-outer {
    display: flex;
    align-items: center;
    p {
        margin-left: 8px;
    }
}
.no-contents {
  margin: 32px 0 32px 48px;
}
