.article_image_icon img {
    position: absolute;
    bottom: 64px;
    right: 16px;
    width: 32px;
    height: 32px;
}
.postform-btn{
    margin-top: -16px;
}
.postnow :first-child{
    margin-top: 96px;
}
.question-title{
    padding-top: 64px;
}
