.indexbox-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 2rem 0 0 0;
    width: 140%;

    &-box{
        height: 456px;
        width: 256px;
        display: flex;
        flex-direction: column;
        margin-right: 32px;
        margin-bottom: 80px;
        background-color: white;
        box-shadow: 0px 1px 6px #2121211A;
        border-radius: 4px;
        position: relative;
        h1{
            font-size: 16px;
            margin-top: 32px;
        }
        img{
            height: 80px;
            width: 112px;
            margin: 24px auto;
        }
        p{
            margin: 0 32px;
            font-size: 12px;
            color: #212121;
        }
        .category_description{
            margin-top: 32px;
        }
        .btn3{
            margin-top: auto;
            margin-bottom: 16px;
        }
        .btn4{
            margin: 0 56px 32px 56px;
            color: #5FA2E6;
        }
        .btn4-studying{
            font-size: 0;
            background-color: #76B2EA;
            color: white;
            &::before{
                font-size: 14px;
                content: '学習中';
            }
        }
    }
}

.progress_bar{
    height: 24px;
    margin-bottom: 32px;
}
.index_title{
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 16px;
}
#progress_bar{
    width: 144px;
    margin-right: 20px;
}

.ranking{
    &_wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &_box{
        width: 416px;
        height: 168px;
        margin-right: 64px;
        background-color: #fff;
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 6px #21212119;
    }
    &_contents{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 55px;
        border-bottom: 1px solid #EEEEEE;
        ;
        img{
            width: 24px;
            height: 24px;
            max-width: 100%;
            margin-top: 15px;
            border-radius: 4px;
        }
        .rank{
            &_num{
                width: 72px;
                margin:auto 0;
                font-size: 16px;
                line-height: 54px;
                text-align: center;
            }
            &_user{
                font-size: 16px;
                color: #4e93e1;
                line-height: 54px;
                margin-left: 8px;
            }
            &_point{
                margin-right: 32px;
                margin-left: auto;
                font-size: 16px;
                line-height: 54px;
                color: #212121;
            }
        }
    }
}

.colleague{
    &_wrapper{
        display: flex;
        flex-direction: row;
    }
    &_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 256px;
        height: 192px;
        box-shadow: 0px 1px 6px #2121211A;
        border-radius: 4px;
        margin-right: 32px;
        img{
            height: 48px;
            width: 48px;
            border-radius: 4px;
            margin-top: 16px;
            margin-bottom: 8px;
        }
    }
    &_name{
        color: #4e93e1;
        font-size: 16px;
        line-height: 24px;
    }
}