h1{
    font-size: 1.5rem;
}
.tasknow{
    border-bottom: #4d45d5 4px solid;
}
.indexbox-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 2rem 0 0 0;
    width: 140%;
    &-box{
        height: 20rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 2rem;
        background-color: white;
        position: relative;
        h1{
            margin: 0;
            font-size: 1.5rem;
        }
        img{
            height: 7rem;
            width: 90%;
            margin: 0 auto;
        }
        p{
            margin: 0 5%;
        }
        a{
            text-decoration: none;
            position: absolute;
            bottom: 2rem;
            left: 10%;
            right: 10%;
            border: black 2px solid;
            color: black;
            border-radius: 10px;
            &:hover{
                background-color: rgb(202, 202, 202);
                transition: 0.5s;
            }
        }
    }
}
