$black: #212121;

.main {
  background-color: #FBFCFE;
  color: $black;
  width: 100vw;
}

.breadcrumbs {
  width: 100vw;
  height: 48px;
  background-color: #ffffff;
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  color: #4173c0;
  box-shadow: 0px 4px 6px #2121211A;

  &-category {
    margin: 14px 8px 14px 32px;
  }

  &-course {
    margin: 14px 8px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.main-container__contents-menubar{
  position: fixed;
  top: 96px;
  left: 0;
  width: 256px;
  height: 100vh;
  background-color: #eeeeee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 0;
  &-title, &-q{
    height: 48px;
    background-color: #FBFCFE;
    color: $black;
    box-sizing: border-box;
    font-size: 16px;
    padding: 12px 32px;
    display: flex;
    align-items: center;

    &:hover {
      border-left: 8px solid #76b2ea;
      p {
        position: relative;
        left: -8px;
      }
    }
  }
  &-scroll{
    overflow:auto;
    width: 256px;
    height: 80vh;
  }
  &-title {
    border-left: 8px solid #76b2ea;
    p {
      position: relative;
      left: -8px;
    }
  }

  &-lesson {
    background-color: #eeeeee;
    height: 40px;
    padding-left: 32px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: $black;

    .lesson_checkbox{
      height: 16px;
      width: 16px;
      margin-right: 16px;
    }

    &:hover{
      background-color: #f5f5f5;
    }
  }
}
.course{
  &-container{
    box-sizing: border-box;
    margin-left: calc(192px + 100vw*0.0625);
    margin-right: 100vw*0.03125;
    margin-top: 144px;
    background-color: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    line-height: 1.5em;
h1{
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  padding-bottom: 1em;
}
h2{
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
  padding-left: 10px;
  background-color: #4d45d570;
  color: white;
}
h3{
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-weight: bold;
  padding-left: 10px;
  opacity: 0.8;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
h4{
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  font-weight: bold;
  padding-left: 10px;
}
h5{
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;

}
h6{
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
}
p{
  font-size: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}
h1,h2{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ol{
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
}
code {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
//   font-size: 14px;
//   line-height: 2em;
//   background-color: #000;
//   color: #eee;
}
    &__contents{
      width: 80%;
      margin: 64px auto 32px;
      &-title{
        letter-spacing: 0.73px;
        color: #1C1E21;
        font-size: 26px;
      }
      &-text{
        margin-top: 48px;
        font-size: 16px;
        color: #262626;
      }
      .btn1,.btn2{
        display: inline-block;
        margin-top: 32px;
        border: 0;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        position: relative;
        p {
          position: absolute;
          top: 50%;
          margin-left: 13px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
.header{
  box-shadow: none;
}
.btn-container{
  display: flex;
  flex-direction: row;
  .btn1{
    margin-right: 64px;
  }
}