$black:#212121;
$button-gray:#BAB7B7;
$list-stay:#837F7F;
$list-hover:#C3BABA;
$next-page:rgba(10, 10, 10, 0.1);
$next-hover:rgba(5, 5, 5, 0.5);
$header-contents:rgba(250, 247, 247, 0.5);

.header{
    z-index: 100;
}
.main-container{
    h1{
        margin-top: 48px;
        margin-bottom: 24px;
        font-size: 22px;
    }
    &__contents{
        padding: 48px 0 0;
        &-userdata{
            display: flex;
            flex-direction: row;
            img{
                width: 64px;
                height: 64px;
                border-radius: 4px;
                max-width: 100%;
            }
            p{
                font-size: 22px;
                height: 32px;
                margin-top: 16px;
                margin-left: 16px;
            }
        }
    }
}
.hidden{
    display:none;
}
.choice-button{
    display: flex;
    flex-direction: row;
    p{
        width: 144px;
        height: 48px;
        z-index: 0;
        border-top: 4px solid #fbfcfe;
        box-sizing: border-box;
        a{
            display: inline-block;
            color: $black;
            font-size: 16px;
            line-height: 40px;
            text-align:center;
            width: 100%;
        }
    }
    .here {
        border-bottom: 4px solid #4d45d5;
        z-index: 1;
    }

}
//ノート一覧のタブ
// #quest-new{
//     margin-left:0;
//     margin-left: auto;
// }