$button-gray:#BAB7B7;
$list-stay:#837F7F;
$list-hover:#C3BABA;
$next-page:rgba(10, 10, 10, 0.1);
$next-hover:rgba(5, 5, 5, 0.5);
$header-contents:rgba(250, 247, 247, 0.5);

.choice-button{
    display: flex;
    flex-direction: row;
    p{
        text-align: center;
        width: 6rem;
        margin: 0 0.5rem -1px 0;
        padding: 0.1rem;
        border: 1px solid $list-stay;
        z-index: 0;
        font-size: 0.75rem;
        color: $list-stay;
    }
    .here {
        background-color: white;
        border-bottom: white 3px solid;
        z-index: 1;
    }

}