
.password_change-container{
    width: 320px;
    height: 360px;
    margin: 160px auto 0 auto;
    background-color: #fff;
    box-shadow: 0px 2px 6px #21212119;
    border-radius: 8px;
    &__title{
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        padding-top: 24px;
    }
    &__caution{
        font-size: 14px;
        text-align: center;
        margin: 0 16px;
        color: #212121;
    }
    &__caution2{
        font-size: 14px;
        text-align: center;
        margin: 0 16px;
        color: #212121;
        margin-top: 48px;
    }
    .normal_box{
        height: 52px;
        width: 288px;
        margin-left: 16px;
        margin-bottom: 32px;
        input{
            width: 282px;
            height: 100%;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            margin:0 0 0 auto;
        }
    }
    .normal_box2{
        height: 52px;
        width: 288px;
        margin-left: 16px;
        margin-top: 64px;
        a{
            display: inline-block;
            width: 100%;
            text-align: center;
            line-height:48px;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            margin:0 0 0 auto;
        }
    }
    .button{
        margin: 4px 88px auto 104px;
        padding: 0;
        border: 0;
        border-radius: 4px;
        width: 288px;
        height: 48px;
        color: white;
        font-size: 16px;
        background-color: #4e93e1;
        cursor: pointer;
    }
}